<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mycel</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.meio.mask.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="/"><img alt="logo" class="logo" src="/img/logo.png" /></a>
        <div id="header-buttons">
          <ul>
            <li class="header">
              <a href="/branches">FILIALER</a>
            </li>
            <li class="header">
              <a href="/users">BRUKERE</a>
            </li>
            <li class="header">
              <a href="/statistics">STATISTIKK</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="debug"></div>
      <div class="main">
        <h2>Filialer</h2>
        <% org = Organization.first %>
        <% org.branches.order('name').each do |branch| %>
          <a href="/<%= branch.name %>">
            <h3><%= branch.name %></h3>
          </a>
          <table class="deptlist">
            <% branch.departments.each do |dept| %>
              <tr>
                <td><a href="/<%= branch.name %>/<%= dept.name %>"><%= dept.name %></a></td>
                <td><%= dept.clients.size - dept.clients.joins(:user).count %> av <%= dept.clients.size %> ledige</td>
                <td>
                  <% dept.clients.joins(:user).count.times do %>
                    <img src="/img/pc_green.png" style="margin-left:5px" />
                  <% end %>
                  <% (dept.clients.size - dept.clients.joins(:user).count).times do %>
                    <img src="/img/pc_black.png" style="margin-left:5px" />
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>

      </div><div id="footer">
        <span>Versjon&nbsp;</span><a href="https://github.com/digibib/mycel">Mycel 0.0.1-pre</a><span>.&nbsp;Send tilbakemeldinger til&nbsp;</span><a href="mailto:petter.goksoyr.asen@kul.oslo.kommune.no">Petter Goksøyr Åsen</a>
      </div>
      <script src="/js/common.js"></script>
    </div>
  </body>
</html>